In [164]:
import pandas as pd
import numpy as np

In [270]:
df = pd.read_csv("data/dataset_1.csv")

In [249]:
df["week"] = pd.to_datetime(df["week"])

In [228]:
df[df["week"] >= pd.to_datetime("09.28.2020")].yandex_continuous.isna().sum()

9994

In [271]:
df.Rt.isna().sum()

63

In [250]:
df_before = df[df["week"] <= pd.to_datetime("09.28.2020")]

In [255]:
df_before

,week,region,oced,unemployed,cv_gender,cv_birthday_2000,cv_birthday_1990,cv_birthday_1980,cv_birthday_1970,cv_birthday_1960,...,women,infections,deaths,healed,tests,Rt,level,yandex_continuous,yandex_level,pass
0,2020-04-06,Адыгея,"Строительство, ремонт, стройматериалы, недвижи...",19,18,0,3,12,19,19,...,245928.0,42.0,0.0,44.0,NaN,0.873684,NaN,3.314286,2.0,0.0
1,2020-04-06,Адыгея,Машиностроение,2,1,0,0,1,1,2,...,245928.0,42.0,0.0,44.0,NaN,0.873684,NaN,3.314286,2.0,0.0
2,2020-04-06,Адыгея,Юриспруденция,13,6,0,2,11,13,13,...,245928.0,42.0,0.0,44.0,NaN,0.873684,NaN,3.314286,2.0,0.0
3,2020-04-06,Адыгея,Пищевая промышленность,9,2,1,2,6,9,9,...,245928.0,42.0,0.0,44.0,NaN,0.873684,NaN,3.314286,2.0,0.0
4,2020-04-06,Адыгея,"Государственная служба, некоммерческие организ...",17,8,0,3,14,17,17,...,245928.0,42.0,0.0,44.0,NaN,0.873684,NaN,3.314286,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65757,2020-09-28,Ярославская,Юриспруденция,5,1,0,0,4,5,5,...,689885.0,345.0,1.0,311.0,NaN,1.046632,3.0,1.000000,0.0,1.0
65758,2020-09-28,Ярославская,"Кадровая служба, управление персоналом",5,0,0,1,5,5,5,...,689885.0,345.0,1.0,311.0,NaN,1.046632,3.0,1.000000,0.0,1.0
65759,2020-09-28,Ярославская,None,443,0,0,0,0,0,0,...,689885.0,345.0,1.0,311.0,NaN,1.046632,3.0,1.000000,0.0,1.0
65760,2020-09-28,Ярославская,"Государственная служба, некоммерческие организ...",10,2,0,3,7,8,10,...,689885.0,345.0,1.0,311.0,NaN,1.046632,3.0,1.000000,0.0,1.0
65761,2020-09-28,Ярославская,Легкая промышленность,1,0,0,0,1,1,1,...,689885.0,345.0,1.0,311.0,NaN,1.046632,3.0,1.000000,0.0,1.0

In [259]:
tmp = df_before.groupby(["region", "week"]).agg({"yandex_continuous": lambda x: x.iloc[0]}).isna().reset_index()

In [265]:
df[df.region == "Москва"]

,week,region,oced,unemployed,cv_gender,cv_birthday_2000,cv_birthday_1990,cv_birthday_1980,cv_birthday_1970,cv_birthday_1960,...,women,infections,deaths,healed,tests,Rt,level,yandex_continuous,yandex_level,pass
1242,2020-04-06,Москва,None,1889,0,0,0,0,0,0,...,6820155.0,8614.0,111.0,3673.0,NaN,0.901048,NaN,NaN,NaN,NaN
1243,2020-04-06,Москва,"Административная работа, секретариат, АХО",426,93,1,119,287,378,424,...,6820155.0,8614.0,111.0,3673.0,NaN,0.901048,NaN,NaN,NaN,NaN
1244,2020-04-06,Москва,"Безопасность, службы охраны",47,45,0,8,16,32,47,...,6820155.0,8614.0,111.0,3673.0,NaN,0.901048,NaN,NaN,NaN,NaN
1245,2020-04-06,Москва,Высший менеджмент,111,75,0,12,43,83,109,...,6820155.0,8614.0,111.0,3673.0,NaN,0.901048,NaN,NaN,NaN,NaN
1246,2020-04-06,Москва,"Государственная служба, некоммерческие организ...",169,82,1,41,107,153,168,...,6820155.0,8614.0,111.0,3673.0,NaN,0.901048,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73967,2020-10-26,Москва,"Лесная, деревообрабатывающая, целлюлозно-бумаж...",1,1,0,0,0,1,1,...,6820155.0,33411.0,433.0,17557.0,4310.72,1.022579,3.0,NaN,NaN,NaN
73968,2020-10-26,Москва,"Металлургия, металлообработка",1,1,0,0,0,1,1,...,6820155.0,33411.0,433.0,17557.0,4310.72,1.022579,3.0,NaN,NaN,NaN
73969,2020-10-26,Москва,"Образование, наука",16,3,0,7,11,14,16,...,6820155.0,33411.0,433.0,17557.0,4310.72,1.022579,3.0,NaN,NaN,NaN
73970,2020-10-26,Москва,Пищевая промышленность,3,0,0,2,2,3,3,...,6820155.0,33411.0,433.0,17557.0,4310.72,1.022579,3.0,NaN,NaN,NaN
73971,2020-10-26,Москва,"Строительство, ремонт, стройматериалы, недвижи...",10,3,0,3,6,8,10,...,6820155.0,33411.0,433.0,17557.0,4310.72,1.022579,3.0,NaN,NaN,NaN

In [268]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75094 entries, 0 to 75093
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   week               75094 non-null  datetime64[ns]
 1   region             75094 non-null  object
 2   oced               75094 non-null  object
 3   unemployed         75094 non-null  int64
 4   cv_gender          75094 non-null  int64
 5   cv_birthday_2000   75094 non-null  int64
 6   cv_birthday_1990   75094 non-null  int64
 7   cv_birthday_1980   75094 non-null  int64
 8   cv_birthday_1970   75094 non-null  int64
 9   cv_birthday_1960   75094 non-null  int64
 10  population         75094 non-null  float64
 11  men                75094 non-null  float64
 12  women              75094 non-null  float64
 13  infections         75094 non-null  float64
 14  deaths             75094 non-null  float64
 15  healed             75094 non-null  float64
 16  tests              17724 non-null  float64
 17  Rt                 75031 non-null  float64
 18  level              51598 non-null  float64
 19  yandex_continuous  47737 non-null  float64
 20  yandex_level       47737 non-null  float64
 21  pass               46496 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(7), object(2)
memory usage: 12.6+ MB

In [264]:
tmp.groupby("region").mean()

                   yandex_continuous
region
Адыгея                           0.0
Алтай                            0.0
Алтайский край                   1.0
Амурская                         0.0
Архангельская                    0.0
...                              ...
Хакасия                          0.0
Челябинская                      0.0
Чувашия                          1.0
Ямало-Ненецкий АО                1.0
Ярославская                      0.0

[83 rows x 1 columns]

In [263]:
df_before[df_before.yandex_continuous.isna()]

,week,region,oced,unemployed,cv_gender,cv_birthday_2000,cv_birthday_1990,cv_birthday_1980,cv_birthday_1970,cv_birthday_1960,...,women,infections,deaths,healed,tests,Rt,level,yandex_continuous,yandex_level,pass
57,2020-04-06,Алтайский край,None,144,0,0,0,0,0,0,...,1247188.0,109.0,1.0,39.0,NaN,0.976190,NaN,NaN,NaN,NaN
58,2020-04-06,Алтайский край,"Административная работа, секретариат, АХО",28,4,0,7,20,28,28,...,1247188.0,109.0,1.0,39.0,NaN,0.976190,NaN,NaN,NaN,NaN
59,2020-04-06,Алтайский край,"Безопасность, службы охраны",6,5,0,0,2,5,6,...,1247188.0,109.0,1.0,39.0,NaN,0.976190,NaN,NaN,NaN,NaN
60,2020-04-06,Алтайский край,Высший менеджмент,11,6,0,3,9,10,11,...,1247188.0,109.0,1.0,39.0,NaN,0.976190,NaN,NaN,NaN,NaN
61,2020-04-06,Алтайский край,"Государственная служба, некоммерческие организ...",19,6,0,7,13,17,19,...,1247188.0,109.0,1.0,39.0,NaN,0.976190,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65725,2020-09-28,Ямало-Ненецкий АО,None,82,0,0,0,0,0,0,...,274314.0,616.0,0.0,129.0,6736.89,1.356401,3.0,NaN,NaN,NaN
65726,2020-09-28,Ямало-Ненецкий АО,"Здравоохранение, спорт, красота, социальное об...",9,1,0,4,7,9,9,...,274314.0,616.0,0.0,129.0,6736.89,1.356401,3.0,NaN,NaN,NaN
65727,2020-09-28,Ямало-Ненецкий АО,Домашний персонал,2,0,0,1,2,2,2,...,274314.0,616.0,0.0,129.0,6736.89,1.356401,3.0,NaN,NaN,NaN
65728,2020-09-28,Ямало-Ненецкий АО,"Информационные технологии, телекоммуникации, с...",10,8,0,4,7,10,10,...,274314.0,616.0,0.0,129.0,6736.89,1.356401,3.0,NaN,NaN,NaN
65729,2020-09-28,Ямало-Ненецкий АО,"ЖКХ, эксплуатация",3,2,0,0,1,3,3,...,274314.0,616.0,0.0,129.0,6736.89,1.356401,3.0,NaN,NaN,NaN

In [231]:
df_before.yandex_continuous.isna().mean()

0.27409446184726743

In [232]:
columns_to_imputation = ['unemployed', 'cv_gender', 'cv_birthday_2000', 'cv_birthday_1990',
       'cv_birthday_1980', 'cv_birthday_1970', 'cv_birthday_1960',
       'population', 'men', 'women', 'infections', 'deaths', 'healed',
       'yandex_continuous']
# TODO добавить соц экономические данные для импутации

In [233]:
from sklearn.impute import KNNImputer
from sklearn.neighbors import KNeighborsRegressor

knn_imputer = KNNImputer(n_neighbors=2)
df_input = df_before[columns_to_imputation]

In [234]:
df_input = df_input.dropna(subset=["yandex_continuous"],)

In [235]:
import random
new_index = df_input.index.tolist()
# random.shuffle(new_index)
df_input = df_input.loc[new_index]

In [236]:
tmp = df_input["yandex_continuous"].values.tolist()

In [237]:
answers = []
for i in range(int(len(df_input) * 0.3)):
       answers.append(tmp[i])
       tmp[i] = None

In [238]:
df_input["yandex_continuous"] = tmp

In [239]:
df_input.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47737 entries, 0 to 65761
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   unemployed         47737 non-null  int64
 1   cv_gender          47737 non-null  int64
 2   cv_birthday_2000   47737 non-null  int64
 3   cv_birthday_1990   47737 non-null  int64
 4   cv_birthday_1980   47737 non-null  int64
 5   cv_birthday_1970   47737 non-null  int64
 6   cv_birthday_1960   47737 non-null  int64
 7   population         47737 non-null  float64
 8   men                47737 non-null  float64
 9   women              47737 non-null  float64
 10  infections         47737 non-null  float64
 11  deaths             47737 non-null  float64
 12  healed             47737 non-null  float64
 13  yandex_continuous  33416 non-null  float64
dtypes: float64(7), int64(7)
memory usage: 5.5 MB

In [240]:
df_imputed = knn_imputer.fit_transform(df_input)

In [241]:
X, y = df_input.drop("yandex_continuous", axis=1).iloc[len(answers):],\
       df_input.yandex_continuous.iloc[len(answers):]

In [242]:
X_test, y_test = df_input.drop("yandex_continuous", axis=1).iloc[:len(answers)], answers

In [243]:
from catboost import CatBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
# reg = CatBoostRegressor()
reg = KNeighborsRegressor()
reg.fit(X, y)

KNeighborsRegressor()

In [244]:
pred = reg.predict(X_test)
true = y_test

In [245]:
np.abs(pred - true).mean()

0.9940544151634894

In [246]:
np.abs(pred - true).mean() / np.mean(true)

0.38518078501381786

In [220]:
np.abs(pred - true).mean() / np.mean(true)

0.01390545970643338

In [221]:
predicted = df_imputed[:, 13][:len(answers)]
true = np.array(answers)

In [222]:
np.abs(predicted - true).mean()

0.02152556710863426

In [223]:
np.abs(predicted - true).mean()

0.02152556710863426

In [224]:
np.mean(true)

1.8856969458461577

In [225]:
np.abs(predicted - true).mean() / np.mean(true)

0.011415178433656114